<html>
<head>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='myo.js')}}"></script>
	<script src="{{url_for('static', filename='script.js')}}"></script>

<style>
body {
	//background-color: lightblue;
}

.top {
	float: top;
	text-align: center;
	height: 60%;
	width: 100%;
	//background-color: blue;
}

.bot {
	float: bottom;
	text-align: center;
	height: 40%;
	width: 100%;
	//background-color: red;
}
.side {
	float: left;
	width: 640px;
	height: 320px;
	//background-color: green;
	height: 100%;
}
video {
	height: 320px;
	width: 640px;
}
</style>	
</head>
<body>	
	
	<div class = "top">
		WEBCAM AND TAKEN PICTURE HERE
		
		<canvas></canvas>
		<div class = "side">
			<video autoplay></video>
		</div>
	</div>
	
	<div class = "bot">
		PHOTO GALLERY
		<button id="snap">snapshot</button>
	</div>
	
	
</body>
</html>